.appWrapper {
  height: 100%;
  font-size: 18px;
  .appContainer {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    .headerWrapper {
      background-color: blueviolet;
    }
    .mainContentWrapper {
      display: flex;
      align-items: center;
      .mainContentContainer {
        display: flex;
        align-items: center;
        width: 100%;
        .learnMoreWrapper {
          width: 100%;
          height: 100%;
          font-family: Epilogue, sans-serif;
          display: flex;
          justify-content: center;
          .learnMoreContainer {
            width: 50%;
            min-width: 230px;
            max-width: 22.5em;
            display: flex;
            flex-direction: column;
            gap: 3.5rem;
            .learnMoreButton {
              width: 9.5em;
              padding: 1.163rem 0.05em;
              background-color: hsl(0deg, 0%, 8%);
              border-radius: 15px;
              text-align: center;
              color: white;
              font-size: 18px;
              font-weight: 500;
            }
            .title {
              font-weight: 700;
              font-size: 4rem;
            }

            .description {
              color: hsl(0, 0%, 41%);
              font-size: 15px;
              font-weight: 500;
            }
          }

        }
        .imageWrapper {
          width: 88%;
          height: 100%;

          .imageContainer {
            width: 62%;
            min-width: 350px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px){
  .mainContentContainer {
    flex-direction: column-reverse;
    justify-content: center;
    height: 90%;
  }
}